.contact__title {
  font-size: 45px;
  color: $main-color;
  padding: 20px 0 20px 0;
}

.contact__line {
  width: 50%;
  background-color: rgba(191,167,124,255);
  height: 3px;
  margin-bottom: 75px;
}