/* Global */

$font-family: 'Source Sans Pro', sans-serif;

body {
  margin: auto;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
}
.container {
  width: 1140px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin: auto;
}