.header {
  margin: 0 0 0 0;
  width: 100%;
  position: relative;
  height: 75vh;
}

.header__image {
  width: 100%;
  height: 75vh;
  background-color: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
    box-shadow: none;
    opacity: 0.3;
  }
}

.header__wrapper {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;

  .navbar {
    .logo {
      margin: 10px 0 0 0;
      text-align: center;
    
      .logo__title {
        font: $main-font;
        margin: 0 0 0 0;
      }
  
      .logo__subtitle {
        margin: 0 0 0 0;
      }
    }

    .main__nav {
      margin: 15px 0 0 0;
      text-align: center;
  
      a {
        font-size: 20px;
        margin: 0 0 0 25px;
        color: #fff;
        text-decoration: none;
      }
    }

    .main__nav a {
      transition: 0.5s;
    }
  
    .main__nav a:hover {
      color: $main-color;
    }
  }

  .header__description {
    margin: 50px 0 0 0;

    .header__description__1 {
      font-size: 40px;
      color: $main-color;
      text-align: left;
      // padding-left: 10%;

      h1 {
        margin: 0;
        letter-spacing: 13px;
      }
    }

    .header__description__2 {
      font-size: 40px;
      color: $main-color;
      text-align: right;
      letter-spacing: 13px;
      // padding-right: 10%;

      h1 {
        margin: 0;
      }
    }
  }

}

.header__icons {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 250px;

  .header__line {
    width: 20%;
    background-color: $main-color;
    height: 2px;
  }

  .discover {
    color: #fff;
    text-align: center;
    margin: 125px 0 0 0;

    h1 {
      font-weight: 500;
      letter-spacing: 5px;
    }

    i {
      font-size: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header__wrapper {
      .header__description {
        .header__description__1 {
          font-size: 35px;
        }
    
        .header__description__2 {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: 1165px) {
  .header {
    .header__wrapper {
      .header__description {
        .header__description__1 {
          font-size: 30px;
        }
    
        .header__description__2 {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 965px) {
  .header {
    .header__wrapper {
      .header__description {
        .header__description__1 {
          font-size: 25px;
        }
    
        .header__description__2 {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 831px) {
  .header {
    .header__wrapper {
      .header__description__1 {
        font-size: 20px;
      }
  
      .header__description__2 {
        font-size: 20px;
      }
    }
  }

  .navbar {
    .main__nav {
      a {
        margin: 0 10px 0 0;
      }
    }
  }
}
